.home {
  display: flex;
}


.mainContainer {
  width: calc(100% - 250px);
  margin-left: 250px;
}

.main-content {
  padding: 15px;
}

.top-nav-link {
  background: #ececec;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 700;
  text-decoration: none !important;
}

.top-nav-active.top-nav-link {
  background: #eab308;
  color: #fff;
}


@media(max-width:991px) {
  .home {
    overflow-x: hidden;
  }

  .sidebar-open {
    overflow-x: hidden !important;
  }

  .top-user p {
    font-size: 14px;
  }

  .sidebar-open .main-sidebar {
    left: 0;
    display: block !important;
  }

  .sidebar-open .mainContainer {
    transition: .5s ease all;
    overflow-x: hidden;
    translate: 260px 0px;
  }

  .main-sidebar {
    left: -100%;
  }

  .mainContainer {
    width: 100%;
    margin-left: 0;
  }

  .small-action {
    display: inline !important
  }

}