.policy-accept {
    width: 100%;
    max-width: 630px;
    max-height: 75vh;
    height: 100%;
    overflow-y: auto;
    margin: 10px 0;
    border: 2px solid;
    padding: 10px;
}

.self-center {
    margin-left: 35px;
}