.main-sidebar {
  width: 250px;
  background: #4286f5;
  position: fixed;
  left: 0;
  height: 100%;
  border-right: 1px solid #eee;
  box-shadow: 0 0 10px rgb(0 0 0 / 13%);
  z-index: 9;
  transition: .5s ease all;
}

.brand-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  border-bottom: 1px solid #dedede;
  margin-bottom: 35px;
  background-color: #fff;
  height: 80px;
}

.sidebar-list li {
  display: block;
  padding: 0;
}

.sidebar-list li a {
  color: #fff;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
}

.sidebar-list li a i {
  font-size: 16px;
  margin-right: 5px;
}


.sidebar-list li a.menu-active {
  background: #eab308;
}

.submenu {
  padding: 5px 20px;
}

.submenu li {
  margin-bottom: 0px;
}

.submenu li a {
  margin-bottom: 0px;
  font-size: 16px;
  color: #fff;
}

@media (max-width:767px) {

  .main-sidebar {
    display: none;
  }
}

.filter-control {
  margin-bottom: 15px;
}

.sidebar-filter {
  padding: 10px;
}

.filter-control .MuiInputBase-input {
  font-size: 14px !important;
  font-weight: 400;
  color: black;
  text-shadow: none !important;
}

.sidebar-filter .MuiAccordionSummary-content {
  margin: 0 !important;
  font-size: 14px;
  font-weight: 600;
}

.sidebar-filter .MuiAccordionSummary-root {
  flex-direction: row-reverse;
}

.main-sidebar {
  overflow-y: auto;
  height: 100%;
}

.sidebar-filter .MuiAutocomplete-root {
  width: 100% !important;
}

.sidebar-filter .MuiAutocomplete-input {
  font-size: 14px !important;
}

.sidebar-filter .MuiAccordionSummary-expandIconWrapper svg {
  rotate: -90deg;
}

.sidebar-filter .MuiAccordionSummary-expandIconWrapper.Mui-expanded svg {
  rotate: -180deg;
}

.sidebar-filter .MuiPaper-root {
  background-color: #e2edff;
}


.sidebar-filter .Mui-expanded {
  background-color: #fff;
}